<app-navbar></app-navbar>
<div class="container">
  <h2 class="text-center">Welcome {{ firstname }}!</h2>
  <div class="row"></div>
  <div class="tableArea">
    <app-mgr-table [expenses]="requests"></app-mgr-table>
  </div>
</div>
