<app-navbar></app-navbar>
<div class="container">
    <h3>Submit a New Expense</h3>
    <form #newExpForm="ngForm" (ngSubmit)="saveExpense()" novalidate>
        <div class="form-group">
            <label for="transDate">Transaction Date</label>
            <input type="date" #nametd="ngModel" name="transDate" [(ngModel)]="expense.transDate" required class="form-control">
            <div class="text-danger" [hidden]="nametd.pristine || getTodaysDate() > nametd.value">Date can't be in the future</div>
        </div>
        <div class="form-group">
            <label for="expAmount">Transaction Amount</label>
            <input type="number" min="0.01" step="0.01" name="expAmount" #name="ngModel" [(ngModel)]="expense.amount" required class="form-control" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="expType">Expense Type</label>
            <select name="expType" #name="ngModel" [(ngModel)]="expense.expType" required class="form-control">
                <option value="Lodging">1. Lodging</option>
                <option value="Travel">2. Travel</option>
                <option value="Food">3. Food</option>
                <option value="Other">4. Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="descr">Merchant Name</label>
            <input type="text" name="descr" [(ngModel)]="expense.merchant" required class="form-control" placeholder="Merchant Name">
        </div>
        <button type="submit"  [disabled]="!newExpForm.valid" class="btn btn-primary">Submit</button>
        <!-- <button type="submit" (click)= "saveExpense()"  class="btn btn-primary">Submit</button> -->
        <!-- <button type="submit" class="btn btn-primary" *ngIf="newExpForm.valid">Submit</button> -->
        <!-- <button type="submit" [routerLink]="['/success-page']" routerLinkActive="router-link-active" class="btn btn-primary">Submit</button> -->
    </form>
</div>
 